// .main-page{
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     background-color: #6b7a8f;

// }


.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-image: linear-gradient(180deg, rgb(238, 132, 211), rgb(214, 132, 228))
    background-color: #6b7a8f;
}
h1{
    font-size: 37px;
}

.btn-container{
    display: flex;
    justify-content: center;

    
}
