
.movie-image {
    width: 100px;
  }
  
.main-page{
 
  background-color: #6b7a8f;
}

h1{
  font-size: 37px;
}
.movie-card{
  background-color: #dcc7aa;

  margin: 5px;
  width:  300px;
}
.movie-card-header {
  height: 150px;
}
.movie-image{
  width: 100%;


  height: 300px;
}

.btn-container{
  display: flex;
  background-color: #dcc7aa;
  justify-content: center;

  
}
.movie-header{
  justify-content: center;
  margin: 5%;
}
.movie-action{
  justify-content: center;
  // margin: 5%;
}


.movie-card-container{
  // display: flow;
  border: #f7c331;
  // border-width: "6px";
  // border-style: groove;
  // float: left;
  // display: inline;
  // width: 100%;
  // display: table;
  // overflow: hidden;
  display: flex;
  // flex-flow: row;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  
  // overflow-x:scroll;
  // overflow-y: hidden;
  // white-space: nowrap;
  // width: 100%;
  // height: 100vh;
  // background-image: linear-gradient(180deg, rgb(238, 132, 211), rgb(214, 132, 228))
  // background-color: #6b7a8f;
}



