
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
    
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background:  #6b7a8f;
    color: white;
}

.btn{
  margin: 0 0.2rem;
  padding: .5rem;
  background-color:rgb(203, 131, 22)!important;
  color: #e8f7ee!important; 
  font-size: 12px;
}