

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-image: linear-gradient(180deg, rgb(238, 132, 211), rgb(214, 132, 228))
    background-color: #6b7a8f;
    // background-color: #f7882f;
}
h1{
    font-size: 37px;
}

.btn-container{
    display: flex;
    justify-content: center;
    // justify-content: 100px;
    
}
.birthday{
        // margin: 0 0.9rem;
        // padding: 1.3rem;
        // background-color:#f7882f;
        background-color: black;
        // color: #e8f7ee; 
        font-size: 18px;
}

.mat-form-field {
    font-size: 16px;
    background-color: pink;
  }